* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: rgb(247, 247, 247);
}

header .search-box {
    flex: 1;
    position: relative;
}

.search-box form {
    display: flex;
    align-items: center;
    width: 198px; /* Largura do box de pesquisa */
    height: 40px; /* Altura do box de pesquisa */
    border-radius: 50px; /* Borda arredondada */
    overflow: hidden;
    background-color: #fff; /* Fundo claro */
    border: 1px solid #ccc; /* Borda suave */
}

.search-box input {
    flex: 1;
    height: 100%; /* O input ocupa toda a altura do form */
    border: none;
    outline: none;
    background: #f2f2f2;
    color: gray;
    font-size: 14px; /* Ajuste da fonte para caber melhor */
    padding: 0 30px; /* Ajuste o preenchimento para dar espaço à lupa */
}

.search-box button {
    border: none;
    background: transparent;
    cursor: pointer;
    position: absolute;
    left: 10px; /* Posição da lupa dentro do box */
    height: 100%; /* O botão ocupa toda a altura do form */
    display: flex;
    align-items: center;
    justify-content: center;
}

.search-box button i {
    font-size: 18px; /* Tamanho do ícone da lupa */
    color: gray;
}
