* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


.search-box {
    margin: 50px 0 0 280px; 
    display: inline-block;
}

.search-container {
    position: relative; 
    display: inline-block;
}

.srch {
    padding: 10px 10px 10px 40px; 
    font-size: 14px;
    width: 198px; 
    height: 40px; 
    border: 2px solid #E5E5E5;
    border-radius: 100px; 
    font-family: 'Poppins', sans-serif;
    transition: border-color 0.3s ease;
}


.search-icon {
    position: absolute;
    top: 50%;
    left: 10px; 
    transform: translateY(-50%); 
    font-size: 18px;
    color: #828282;
    transition: color 0.3s ease; 
}


.srch:focus {
    border-color: black; 
    outline: none;
}


.search-btn {
    position: absolute;
    top: 50%;
    right: 165px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}


.search-btn i {
    font-size: 18px;
    color: #828282;
    transition: color 0.3s ease;
}


.search-icon:hover, .search-btn i:hover {
    color: black;
}

