
.listarU-container{
    display: flex;
    justify-content: center;
    margin-left: 270px;
    overflow-x: auto; 
}

.listarU-titulo h3{
    margin-left: 270px;
    font-family: 'Montserrat', sans-serif; 
    color: #828282;
}



thead {
    font-family: 'Montserrat', sans-serif; /* Fonte Montserrat para o cabeçalho */
    color: #828282;
}

th {
    background-color: #D4E3FF; 
    padding: 12px 15px;
    text-align: left;
    font-weight: bold;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    display: table-cell;
    font-family: 'Poppins', sans-serif;
    min-width: 600px; /* Garante que a tabela tenha um mínimo de largura para não se deformar */
}

td { /* Dentro da célula da tabela */
    padding: 10px 15px;
    border: 1px solid #ddd;

}

table th, table td {
    border: 1px solid transparent;
}


/* botões editar e excluir */

/*botão de editar */
.listarU-edit-btn {
    background-color:transparent;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-flex; 
    align-items: center; 
    justify-content: flex-start; 
    gap: 8px; 
}
.listarU-edit-icon {
    width: 20px; 
    height: 20px; 
    transition: transform 0.3s;
}

/*botão de excluir */
.listarU-delete-btn {
    background-color: transparent;
    border: none;
    padding: 5px 10px;
    font-size: 14px;
    cursor: pointer;
    border-radius: 5px;
    display: inline-flex; 
    align-items: center; 
    justify-content: flex-start; 
    gap: 8px;
}
.listarU-delete-icon {
    width: 20px;
    height: 20px; 
    transition: transform 0.3s; 
}


.listarU-edit-icon:hover {
    transform: scale(1.2);
}
.listarU-delete-icon:hover {
    transform: scale(1.2); 
}


tr:hover {
    background-color: #e9e9e9;
}

@media (max-width: 768px) {
    .listarU-container {
        margin-left: 0; 
        overflow-x: auto;
    }

    table {
        width: 100%;
        min-width: 400px; 
    }

    th, td {
        font-size: 12px; 
        padding: 8px 10px; /
    }

    
    th, td {
        word-wrap: break-word; 
        overflow: hidden;
        text-overflow: ellipsis; 
    }
}